.App {
  text-align: center;
  background-color: white;
}

.App-link {
  color: #61dafb;
}

table {
    margin: 50px;
    border: 1px solid black;
}

tr {
    :last-child {
        td {
            border-bottom: 0;
        }
    }
}

th,
td {
    padding: 0.5rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;

    :last-child {
        border-right: 0;
    }
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.nav-bar {
  margin: 10px;
  padding: 10px;
  background-color: rgb(123, 159, 223);
  color: rgb(255, 255, 255);
  background-clip: border-box;
}

form {
  width: 100%;
}

label, textarea, input, select, button, .nav-button, .flex-container {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-weight: 300;
}

label {
  margin-top: 5px;
  margin-bottom: 5px;
}

textarea {
  width: 95%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: none;
}

input {
  width: 95%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

select {
  width: 45%;
  padding: 5px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  margin-top: 2.5%;
  margin-right: 2.5%;
  float: right ;
  padding: 5px;
  font-size: 17px;
  font-weight: 400;
}

.nav-button {
  margin: 2.5%;
  float: none ;
  padding: 10px;
}